.message { 
  position: fixed;   
  margin-left: 75%;
  margin-right: 10px;
  background-color: black;
  border-radius: 20px;
  color: white;
  font-family: monospace;
  font-size: 2.5em;
  padding: 10px;
  text-align: center;
  line-height: 100px;
}