<h1 align="center">{{title}}</h1>
<h2 align="center"><label>Shots fired: {{shotCount}}</label></h2>
<div class="container-fluid">
<div class="center">
  <div class="row" *ngFor="let row of grid.rows">
    <div class="col-md-1 square" 
      [style.background-color]="square.selected ? 'red' : 'cornflowerblue'" 
      *ngFor="let square of row.squares"
      (click)="fire(square)">
      {{square.selected ? 'Miss' : ''}}
      <span *ngIf="square.selected">X</span>
    </div>
  </div>
  </div>
</div>
