.scoreboard {
  position: fixed;
  bottom: 50px;
  left: 5px;
  width: 500px;
  height: 85vh;
  padding: 50px 50px 50px 50px;
  border: 3px solid lightcoral;
  background-color: black;
}

.ship {
  padding: 10px 20px;
  margin: 25px;
  border: 1px solid blue;
  border-radius: 5px;
  background-color: lightblue;
  color: black;
  transition: margin-left 0.3s;
  font-size: 1.5em;
}

.ship:hover {
  background-color: darkslategray;
  color: lightblue;  
  margin-left: 10px;  
}

.stat-box{
  margin: 60px 20px 40px 20px;
  padding: 35px;
}

.stat {
  background-color: lightgray;
  font-size: 3em;
  font-family: monospace;
  padding: 20px 30px;
}